* {
  border: none;
  padding: 0;
  font-family: "Liga SFMono Nerd Font";
  font-size: 15px;
}

window#waybar {
  background: rgba(34, 34, 34, 0.4);
}

.modules-right {
  margin-right: 10px;
  padding: 5px 10px;
}
.modules-center {
  margin: 0;
  padding: 5px 10px;
}
.modules-left {
  margin-left: 10px;
  padding: 5px 0;
}

#workspaces button {
  padding: 0px 10px;
  background-color: transparent;
  font-weight: lighter;
}
#workspaces button:hover {
  color: rgba(255, 213, 128, 1);
}
#workspaces button.focused {
  color: rgba(255, 213, 128, 1);
  font-weight: normal;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
  padding: 0 10px;
}
#mode {
  color: #cc3436;
  font-weight: bold;
}
#custom-power {
  color: rgba(255, 213, 128, 1);
}
/*-----Indicators----*/
#idle_inhibitor.activated {
  color: #BAE67E;
}
#battery.charging {
  color: #2dcc36;
}
#battery.warning:not(.charging) {
  color: #e6e600;
}
#battery.critical:not(.charging) {
  color: #cc3436;
}
#temperature.critical {
  color: #cc3436;
}
