[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = matching
[color]
	ui = 1
[core]
	excludesfile = ~/.gitignore
[gpg]
	program = /usr/bin/krgpg
[pull]
	rebase = false
[user]
	email = jon@sgrs.uk
	name = Jon Seager
