# LaTeX Files
*.fdb_latexmk
*.fls
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Typescript stuff
*.module.js
*.routing.js
*.component.js
*.service.js
*.map
# Generic stuff
.DS_Store

.vscode/

node_modules/
build/
dist/
bin/
